<h2>Top Ten tags</h2>
<span class="tag-item">
    <a class="tag" style="font-size: 28px" href="{% url 'quotes_app:tag' top_tags.0 %}">{{ top_tags.0 }}</a>
</span>
<span class="tag-item">
    <a class="tag" style="font-size: 26px" href="{% url 'quotes_app:tag' top_tags.1 %}">{{ top_tags.1 }}</a>
</span>
<span class="tag-item">
    <a class="tag" style="font-size: 26px" href="{% url 'quotes_app:tag' top_tags.2 %}">{{ top_tags.2 }}</a>
</span>
<span class="tag-item">
    <a class="tag" style="font-size: 24px" href="{% url 'quotes_app:tag' top_tags.3 %}">{{ top_tags.3 }}</a>
</span>
<span class="tag-item">
    <a class="tag" style="font-size: 22px" href="{% url 'quotes_app:tag' top_tags.4 %}">{{ top_tags.4 }}</a>
</span>
<span class="tag-item">
    <a class="tag" style="font-size: 14px" href="{% url 'quotes_app:tag' top_tags.5 %}">{{ top_tags.5 }}</a>
</span>
<span class="tag-item">
    <a class="tag" style="font-size: 10px" href="{% url 'quotes_app:tag' top_tags.6 %}">{{ top_tags.6 }}</a>
</span>
<span class="tag-item">
    <a class="tag" style="font-size: 8px" href="{% url 'quotes_app:tag' top_tags.7 %}">{{ top_tags.7 }}</a>
</span>
<span class="tag-item">
    <a class="tag" style="font-size: 8px" href="{% url 'quotes_app:tag' top_tags.8 %}">{{ top_tags.8 }}</a>
</span>
<span class="tag-item">
    <a class="tag" style="font-size: 6px" href="{% url 'quotes_app:tag' top_tags.9 %}">{{ top_tags.9 }}</a>
</span>